<footer class="footer">
    <div class="fdiv1">
        <p class="fp">We accept the following paying methods</p>
    </div>

    <div class="fdiv2">
        <img src="images/11.avif" alt="card0">
        <img src="images/2.png" alt="card1">
        <img src="images/8.png" alt="card2">
        <img src="images/3.png" alt="card3">
        <img src="images/4.png" alt="card4">
        <img src="images/5.png" alt="card5">
        <img src="images/6.avif" alt="card6">
        <img src="images/7.avif" alt="card7">
    </div>
</footer>